body {
    background: #f2f2f2;
}

nav {
    width: 100%;
    border: none !important;
}

.navbar-default {
    /*background: #fdfdfd87;*/
    background:rgba(0,0,0,0);
}

#container {
    padding-top: 7rem;
}

.pcmenu {
    font-size: 2rem;
}
    .pcmenu > ul > li{
        background:none;
    }
        .pcmenu > ul > li > a {
            color: rgb(255, 255, 255);
        }
        .pcmenu > ul > li:hover:before {
            position: absolute;
            content: '';
            animation: navlibefore 0.5s;
            bottom: 0;
            left: 1%;
            width: 98%;
            height: 5%;
            background: #71be97;
        }
@keyframes navlibefore{
    from {
        bottom: 0;
        left: 50%;
        width: 5%;
        height: 5%;
        background: #71be97;
    }
    to {
        bottom: 0;
        left: 1%;
        width: 98%;
        height: 5%;
        background: #71be97;
    }
}

    .pcmenu > ul > li > a:hover {
        background: none;
    }

    .pcmenu > ul > li:after {
        position: absolute;
        content: '';
        top: 1rem;
        left: 0;
        width: 1px;
        height: 60%;
    }



.dropdown button {
    margin-top: 1rem;
}

.phonemenu ul {
    padding-left: 0;
    display: none;
}

    .phonemenu ul li {
        padding-left: 0px !important;
        padding-top: 1rem;
        border-bottom: 0.1rem solid #808080;
        list-style: none;
        font-size: 2rem;
        color: black;
        padding-left: 1rem;
    }

        .phonemenu ul li a {
            color: black;
        }

            .phonemenu ul li a:hover {
                text-decoration: none;
            }

footer {
    position: relative;
    text-align: center;
    padding: 0 !important;
    bottom: 0;
}


/*右边的个人信息*/
.myselfinfo > ul {
    list-style: none;
}

    .myselfinfo > ul li {
        box-shadow: 0px 0px 5px rgba(235, 235, 235, 0.3);
    }

    .myselfinfo > ul > li:not(:first-child) {
        margin-top: 1rem;
        padding: 1rem;
        padding-bottom: 0.5rem;
        background: #fdfdfdde;
    }

    .myselfinfo > ul > li:first-child > div:last-child {
        font-family: STKaiti;
        font-size: 1.5rem;
        background: #fdfdfdde;
        word-break: break-all;
        text-indent: 2em;
        padding: 1rem 0.5rem;
    }

#portraitbg {
    position: relative;
    text-align: center;
    height: 10rem;
    line-height: 10rem;
    border: 2px solid rgba(255,255,255,1);
    border-bottom: none;
    overflow: hidden;
}

    #portraitbg::after {
        width: 100%;
        position: absolute;
        content: '';
        height: 11rem;
        left: 0;
        top: 0;
        z-index: -1;
        background: url(/Source/UI/images/shamobg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(5px);
    }

#portrait img {
    width: 7rem;
    border: 3px solid rgba(255,255,255,0.3);
}





/*背景*/

canvas {
    display: block;
    vertical-align: bottom;
}
.js-count-particles {
    font-size: 1.1em;
}
#particles-js {
    width: 100%;
    height: 100%;
    /*background-color: #ffcb7f;*/
    background-image: url('/Source/UI/images/shamobg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}


/* 小火箭css */
#gotop1 {
    width: 80px;
    position: fixed;
    bottom: 90px;
    cursor: pointer;
    z-index: 99998;
    right: 50%;
    margin-right: -620px;
}

    /* 小火箭悬停特效 */

    /*#gotop1:hover {
        animation: rubberBand 1s;
    }

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 768px) {
    nav {
        background: rgba(255,255,255,1) !important;
    }
}*/
