@section Styles{
    <style>
        #content > div {
            background:#ffffff;
            padding-top:1rem;
            padding-left:0;
            padding-right:0;
            box-shadow:3px 1.5px 1px #ebebeb;
        }
        #content > div > div:last-child{
            margin-top:1rem;
            border-top:1px solid #dcdcdc;
            padding-top:0.5rem;
            padding-bottom:0.5rem;
        }
    </style>
}
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-5 col-md-5 col-sm-5">
        <img src="~/Source/UI/images/bg.jpg" class="img-thumbnail" />
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7">
        2
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        3
    </div>
</div>