@{
    ViewData["Title"] = "首页";
}
@section Styles{
    <style>
        #content > .pages {
            text-align: center;
        }

        #contentbody > div {
            background: #fdfdfdde;
            padding-top: 1rem;
            padding-left: 0;
            padding-right: 0;
            box-shadow: 0px 0px 5px #ebebeb;
            margin-bottom: 1rem;
        }

            #contentbody > div > div:last-child {
                margin-top: 1rem;
                border-top: 1px solid #dcdcdc;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }

        .Actitle h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .Actitle a {
            word-wrap: break-word;
            color: #b2b2b2;
        }

            .Actitle a:hover, .tooltipbar > div:hover {
                text-decoration-line: none;
                animation: acolor 0.5s;
                color: #71be97;
                cursor: pointer;
            }

        @@keyframes acolor {
            from {
                color: #b2b2b2;
            }

            to {
                color: #71be97;
            }
        }

        .tooltipbar > div {
            color: #b2b2b2;
        }
    </style>
}


<div id="contentbody">

</div>


<nav aria-label="..." class="pages">
    <ul class="pagination"></ul>
</nav>
@section Scripts{
    <script>
        var _limit = 4, _page = 1, _field = "CreateTime", _order = "desc";

        $(document).on("click", ".pages>ul>li>a", function (e) {
            e.preventDefault();
            _page = $(this).text();
            LoadArticle();
        })

        function LoadArticle() {
            var data = {};
            data.limit = _limit;
            data.page = _page;
            data.field = _field;
            data.order = _order;
            $.post("/Home/GetArticles", { data: data }).done(function (result) {
                console.log(result);
                $("#contentbody").html("");
                $(".pages > ul").html("");
                for (var i = 0, length = result.data.length; i < length; i++) {
                    var str = `<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 acs" arc-id="` + result.data[i].ID + `">
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <img src="`+ result.data[i].ImgUrl + `" class="img-thumbnail" />
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 Actitle">
                                    <a href="#"><h4><span class="label label-warning">`+ result.data[i].Classify.Name + `</span> ` + result.data[i].AcName + `</h4></a>
                                    <a href="#">
                                        `+ result.data[i].Introduce + `
                                    </a>
                                </div>
                                <div class="tooltipbar col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="glyphicon glyphicon-calendar"></span>`+ Frame.ToDateTime(result.data[i].CreateTime) + `</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="glyphicon glyphicon-eye-open"></span> 123</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><span class="glyphicon glyphicon-thumbs-up"></span> `+ result.data[i].Like + `</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 ">阅读全文 <span class="glyphicon glyphicon-menu-right"></span></div>
                                </div></div>`;
                    $("#contentbody").append(str);
                }
                for (var i = 0; i < result.total; i++) {
                    var active = ``;
                    if ((i + 1) == _page) active = `active`;
                    var li = `<li class="` + active + `"><a href="#">` + (i + 1) + `</a></li>`;
                    $(".pages > ul").append(li);
                }
            })
        }

        $(function () {
            LoadArticle();
        })
    </script>
}


