
@section Styles{
}
<button class="layui-btn add">
    <i class="layui-icon">&#xe608;</i> 添加菜单
</button>

<button class="layui-btn edit">
    <i class="layui-icon">&#xe608;</i> 编辑菜单
</button>




@section Scripts{
    <script defer>
        //编辑菜单
        $(document).on("click", ".edit", function (e) {
            e.preventDefault();
            $.post("/Admin/MenuManager/GetAllMenu", {}, function (result) {
                frame.appModal({
                    title: "选择编辑菜单",
                    content: result,
                    height:"30%",
                    yes: function (ind) {
                        var id = $("[name=MenuId]").val();
                        layer.close(ind);
                        AddOrEdit(id);
                    }
                })
            })
        })


        function AddOrEdit(id) {
            $.post("/Admin/MenuManager/AddOrEditMenu", { id: id }, function (html) {
                frame.appModal({
                    title: "添加菜单",
                    content: html,
                    yes: function (index) {
                        var data = {};
                        data.ID = $("input[name=ID]:hidden").val();
                        data.MenuName = $("input[name=MenuName]").val();
                        data.ShowName = $("input[name=ShowName]").val();
                        data.LinkAddress = $("input[name=LinkAddress]").val();
                        data.SortNumber = $("input[name=SortNumber]").val();
                        data.Pid = $("[name=Pid]").val();
                        $.post("/Admin/MenuManager/Save", data, function (result) {
                            frame.alert({
                                msg: result
                            })
                        })

                        layer.close(index);
                    }
                });
            })
        }

        //添加菜单
        $(document).on("click", ".add", function (e) {
            e.preventDefault();
            AddOrEdit();
        })


    </script>
}