<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <!--加载bootstrap样式-->
    <link href="~/Source/UI/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!--引入解析markdown的样式文件-->
    <link href="~/lib/editormd/css/editormd.min.css" rel="stylesheet" />

    <!--手机菜单-->
    <link href="~/Source/UI/lib/menu/css/styles.css" rel="stylesheet" />

    <link href="~/Source/UI/css/Common.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="particles-js" class="affix"></div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="visible-xs col-xs-12">
                <div class="visible-xs phonemenu navbar-fixed-top">
                    <div class="dropdown">
                        <div class="phonenav">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">首页</a></li>
                                <li><a asp-action="Index" asp-controller="MyNote">我的笔记</a></li>
                                <li><a asp-action="Index" asp-controller="MyLog">日志分享</a></li>
                                <li><a href="#">留言和我</a></li>
                            </ul>
                        </div>
                        <div class="nav-toggle">
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-lg-12 col-md-12 col-sm-12 pcmenu">
                <ul class="nav nav-pills">
                    <li><a asp-action="Index" asp-controller="Home">首页</a></li>
                    <li><a asp-action="Index" asp-controller="MyNote">我的笔记</a></li>
                    <li><a asp-action="Index" asp-controller="MyLog">日志分享</a></li>
                    <li><a href="#">留言和我</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" id="content">
                @RenderBody()
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 myselfinfo hidden-xs">
                <ul class="col-lg-12 col-md-12 col-sm-12">
                    <li>
                        <div id="portraitbg">
                            <div id="portrait">
                                <img src="" class="img-circle" />
                            </div>
                        </div>
                        <div style="color:#b2b2b2;">
                            <p class="introduce">
                                
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 style="border-bottom:1px solid #75c5ff; padding-bottom:0.5rem; color:#b2b2b2;">查找文章</h3>
                        <div id="Serach">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Serach" placeholder="文章名..." value="">
                            </div>
                        </div>
                    </li>

                    <li style="padding:0;">
                        <div style="text-align:center;">
                            <script charset="Shift_JIS" src="~/Source/UI/lib/shizhong/honehone_clock_wh.js"></script>
                        </div>
                    </li>
                    <li style="border:none;box-shadow:none; bottom:0;right:0;" @*class="affix"*@>
                        <div id="world">
                        </div>
                        <div id="power" class="hidden"></div>
                    </li>
                    @*<li style="background:rgba(0,0,0,0);border:none;box-shadow:none;">
                        <div style="height:500px;width:100%;"></div>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>@@备案号：123123123123</p>
            <p>|<a href="#">百度</a>|<a href="#">百度</a>||<a href="#">百度</a>||<a href="#">百度</a>|</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <!--加入bootstrap-->
    <script defer src="~/Source/UI/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <!--引入markdown解析文件-->
    <script defer src="~/lib/editormd/lib/marked.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/prettify.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/raphael.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/underscore.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/sequence-diagram.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/flowchart.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/jquery.flowchart.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/editormd.min.js" asp-append-version="true"></script>

    <!--龙-->
    <script defer src="~/Source/UI/lib/three.js" asp-append-version="true"></script>
    <script defer src="~/Source/UI/lib/long/OrbitControls.js" asp-append-version="true"></script>
    <script defer src="~/Source/UI/lib/long/TweenMax.min.js" asp-append-version="true"></script>

    <!--背景图-->
    <script defer src="~/Source/UI/lib/background/js/particles.min.js" asp-append-version="true"></script>
    <script defer src="~/Source/UI/lib/background/js/app.js" asp-append-version="true"></script>
    <script defer src="~/Source/UI/lib/background/js/lib/stats.js" asp-append-version="true"></script>







    <script defer src="~/Source/UI/js/Common.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
