@using Frame.WebCore.User
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <!--加载bootstrap样式-->
    <link href="~/Source/UI/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!--引入解析markdown的样式文件-->
    <link href="~/lib/editormd/css/editormd.min.css" rel="stylesheet" />

    <link href="~/Source/UI/css/Common.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="hidden-xs">
                    <a href="#">
                        <img src="#" />
                    </a>
                </div>
                <div class="visible-xs phonemenu">
                    <div class="dropdown">
                        <button type="button" class="menubtn btn btn-warning">三</button>
                        <ul>
                            <li> <a href="#"><span class="glyphicon glyphicon-cloud"></span>Action</a></li>
                            <li> <a href="#"><span class="glyphicon glyphicon-cloud"></span>Action</a></li>
                            <li> <a href="#"><span class="glyphicon glyphicon-cloud"></span>Action</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-lg-6 col-md-6 col-sm-8 pcmenu">
                <ul class="nav nav-pills">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">其他</a></li>
                    <li><a href="#">其他</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                @RenderBody()
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>
                <p>左</p>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 myselfinfo">
                <ul class="col-lg-12 col-md-12 col-sm-12">
                    <li>
                        <div id="portraitbg">
                            <div id="portrait">
                                <img src="~/Source/UI/images/touxiang.jpg" class="img-circle" />
                            </div>
                        </div>
                        <div>
                            <p>
                                说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 style="border-bottom:1px solid #75c5ff; padding-bottom:0.5rem;">查找文章</h3>
                        <form id="Serach">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Serach" placeholder="文章名...">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>底部内容</p>
        </div>
    </footer>

    <div class="affix hidden-xs" id="tooltip">
        <ul>
            <li class="tooltiptop" data-toggle="tooltip" data-placement="left" title="关于我的">
                <span class="glyphicon glyphicon-question-sign"></span>
                <ul style="display:none;">
                    <li>1</li>
                    <li>2</li>
                </ul>
            </li>

            <li class="tooltiptop hidden" data-toggle="tooltip" data-placement="left" title="返回顶部"><span class="glyphicon glyphicon-menu-up"></span></li>
        </ul>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <!--加入bootstrap-->
    <script defer src="~/Source/UI/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <!--引入markdown解析文件-->
    <script defer src="~/lib/editormd/lib/marked.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/prettify.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/raphael.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/underscore.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/sequence-diagram.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/flowchart.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/jquery.flowchart.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/editormd.min.js" asp-append-version="true"></script>

    <script defer src="~/Source/UI/js/Common.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
