@using Frame.WebCore.User
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <!--加载bootstrap样式-->
    <link href="~/Source/UI/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!--引入解析markdown的样式文件-->
    <link href="~/lib/editormd/css/editormd.min.css" rel="stylesheet" />

    <link href="~/Source/UI/css/Common.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="visible-lg visible-md">
                    <p>icon</p>
                </div>
                <div class="visible-sm visible-xs phonemenu">
                    <div class="dropdown">
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">三<span class="caret"></span></a>*@
                        <button type="button" value="" class="dropdown-toggle btn btn-warning" data-toggle="dropdown" aria-haspopup="true">三</button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="visible-lg visible-md col-lg-6 col-md-6 pcmenu">
                <ul class="nav nav-pills">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">其他</a></li>
                    <li><a href="#">其他</a></li>
                    <li><a href="#">其他</a></li>
                    <li><a href="#">其他</a></li>
                    <li class="disabled"><a href="#">其他</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="container">
        <div class="row">
            <div class="col-lg-8">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                左

            </div>
            <div class="col-lg-4 clearfix">
                右
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <!--加入bootstrap-->
    <script defer src="~/Source/UI/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <!--引入markdown解析文件-->
    <script defer src="~/lib/editormd/lib/marked.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/prettify.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/raphael.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/underscore.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/sequence-diagram.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/flowchart.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/lib/jquery.flowchart.min.js" asp-append-version="true"></script>
    <script defer src="~/lib/editormd/editormd.min.js" asp-append-version="true"></script>

    <script defer src="~/Source/UI/js/Common.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
